@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

/* main page */
body {
    font-family: Yanone Kaffeesatz, sans-serif;
    color: #01090f;
    background: black url('../images/1.jpg') no-repeat fixed center;
    background-size: auto;
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-size: 75px;
    letter-spacing: 2px;
}

#quiz-heading {
    margin: 150px 0 50px 0;
    text-align: center;
}

#buttons-div {
    text-align: center;
}

.main-nav {
    width: 300px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    border: 1px solid;
    border-radius: 4px;
    background-color: #04263ca4;
    font-family: Yanone Kaffeesatz, sans-serif;
    font-size: 65px;
    color: azure;

}

#rules-button {
    font-size: 50px;
}

.main-nav:hover {
    background-color: #031825;
    color:azure;
    width: 320px;
    height: 120px;
}

/* rules page */

#rules-tab {
    width: 900px;
    height: 600px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 0 20px 0 20px;
    font-size: 60px;
    background-color: #04263ca8;
    color: #cfd6db;
}

#back-button {
    display: block;
    margin: 30px auto 0 auto;
}

/* quiz page */

#score-div {
    float: left;
    margin: 30px 0 0 80px;
    font-size: 90px;
    font-weight: 600;
    font-family: Yanone Kaffeesatz, sans-serif;
    color: #01090f;
}

#progress-div {
    float: right;
    margin: 30px 200px 0 0;
    font-size: 90px;
    font-weight: 600;
    font-family: inherit;
}

#question-div {
    height: 100px;
    width: 100%;
    margin: 180px 0 100px 0;
    text-align: center;
    font-size: 110px;
}

#quiz-buttons {
    width: 100%;
    text-align: center;
}

/* name page */

#name-div {
    width: 480px;
    height: 75px;
    margin: 200px auto 0 auto;
    font-size: 60px;
    font-weight: 600;
    font-family: Yanone Kaffeesatz, sans-serif;
    color: #01090f;
}

#name-input {
    width: 295px;
    height: 70px;
    background-color: #031825a6;
    border: 1px solid #cfd6db;;
    font-size: 50px;
    color: #cfd6db;
    font-family: inherit;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

/* Score page */

#results-heading {
    width: 550px;
    height: 180px;
    text-align: center;
    margin: 150px auto 0 auto;
    font-size: 75px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Yanone Kaffeesatz, sans-serif;
    color: #01090f;
}