@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

/* main page */
body {
    font-family: Yanone Kaffeesatz, sans-serif;
    color: #01090f;
    background: black url('../images/1.jpg') no-repeat fixed center;
    background-size: auto;
    margin: 0;
    padding: 0;
    border: none;
}

h1 {
    font-size: 75px;
    letter-spacing: 2px;
}

#quiz-heading {
    margin: 150px 0 50px 0;
    text-align: center;
}

.buttons-div {
    text-align: center;
}

.main-nav {
    width: 300px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    border: 1px solid;
    border-radius: 4px;
    background-color: #04263ca4;
    font-family: Yanone Kaffeesatz, sans-serif;
    font-size: 65px;
    color: azure;
}

#rules-button {
    font-size: 50px;
}

.main-nav:hover {
    background-color: #031825;
    color:azure;
    width: 320px;
    height: 120px;
}

/* rules page */

#rules-tab {
    width: 900px;
    height: 600px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 0 20px 0 20px;
    font-size: 60px;
    background-color: #04263ca8;
    color: #cfd6db;
}

#back-button {
    display: block;
    margin: 30px auto 0 auto;
}

/* quiz page */

#score-div {
    float: left;
    margin: 30px 0 0 80px;
    font-size: 90px;
    font-weight: 600;
    font-family: Yanone Kaffeesatz, sans-serif;
    color: #01090f;
}

#progress-div {
    float: right;
    margin: 30px 200px 0 0;
    font-size: 90px;
    font-weight: 600;
    font-family: inherit;
}

#question-div {
    height: 100px;
    width: 100%;
    margin: 180px 0 100px 0;
    text-align: center;
    font-weight: 600;
    font-size: 95px;
}

#quiz-buttons {
    width: 100%;
    text-align: center;
}

/* name page */

#name-div {
    width: 480px;
    height: 75px;
    margin: 200px auto 0 auto;
    font-size: 60px;
    font-weight: 600;
    font-family: Yanone Kaffeesatz, sans-serif;
    color: #01090f;
}

#name-input {
    width: 295px;
    height: 70px;
    background-color: #031825a6;
    border: 1px solid #cfd6db;
    font-size: 50px;
    color: #cfd6db;
    font-family: inherit;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s; 
}

/* Score page */

#results-heading {
    width: 550px;
    height: 180px;
    text-align: center;
    margin: 150px auto 0 auto;
    font-size: 75px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Yanone Kaffeesatz, sans-serif;
    color: #01090f;
}

/* leaderboard page */

#leaderboard-div {
    margin: 100px auto 20px auto;
    width: 500px;
    height: 600px;
    border: 1px solid #cfd6db;
    border-radius: 4px;
    background-color: #031825a6;
}

#name-heading {
    margin: 10px 0 0 10px;
    font-family: Yanone Kaffeesatz, sans-serif;
    font-size: 60px;
    color: #cfd6db;
    float: left;
    border-bottom: 1px solid #cfd6db;
}

#score-heading {
    margin: 10px 10px 0 0;
    font-family: Yanone Kaffeesatz, sans-serif;
    font-size: 60px;
    color: #cfd6db;
    float: right;
    border-bottom: 1px solid #cfd6db;
}

#name-span {
    clear: both;
    float: left;
    margin: 30px 0 0 10px;
    font-family: inherit;
    font-size: 50px;
    color: #cfd6db;
}

#score-span {
    float: right;
    margin: 30px 10px 0 0;
    font-family: inherit;
    font-size: 50px;
    color: #cfd6db;
}

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #quiz-heading {
        font-size: 50px;
    }

    #rules-tab {
        width: 700px;
        height: 450px;
        font-size: 50px;
    }

    #score-div {
        font-size: 80px;
        margin-left: 20px;
    }

    #progress-div {
        font-size: 80px;
        margin-right: 20px;
    }

    #question-div {
        font-size: 100px;
    }
}

/* For medium to small screens size from 900px wide and down */
@media screen and (max-width: 900px) {
    #quiz-heading {
        font-size: 40px;
    }

    #rules-tab {
        width: 500px;
        height: 500px;
        font-size: 45px;
    }

    h1 {
        font-size: 60px
    }

    #question-div {
        margin: 50px 0 50px 0;
        font-size: 75px;
    }

    #score-div {
        text-align: center;
        float: none;
        font-size: 60px;
    }

    #progress-div {
        float: none;
        text-align: center;
        font-size: 60px;
    }
}

/* For small screens size from 600px to 440px */
@media screen and (max-width: 600px) {
    #quiz-heading {
        padding: 0 100px 0 100px;
        }

    #rules-tab {
        width: 350px;
        height: 550px;
        font-size: 40px;
    }

    #name-div {
        font-size: 50px;
        width: 390px;
    }

    #question-div {
        margin: 50px 0 50px 0;
        font-size: 60px;
    }

    #score-div {
        text-align: center;
        float: none;
        font-size: 45px;
    }

    #progress-div {
        float: none;
        text-align: center;
        font-size: 45px;
    }

    #results-heading {
        font-size: 60px;
        width: 300px;
    }

    #leaderboard-div {
        width: 400px;
    }
}

/* For small screens size from 440px to 320px */
@media screen and (max-width: 440px) {
    #quiz-heading {
        padding: 0 20px 0 20px;
        }
    
    .main-nav {
        width: 250px;
        height: 80px;
        font-size: 40px;
    }

    .main-nav:hover {
        width: 270px;
        height: 85px;
    }

    #rules-button {
        font-size: 35px;
    }

    #rules-tab {
        width: 250px;
        height: 550px;
        font-size: 40px;
    }

    #name-div {
        font-size: 40px;
        width: 310px;
        height: 45px;
    }

    #question-div {
        margin: 10px 0 10px 0;
        padding: 50px 0 50px 0;
        font-size: 40px;
    }

    #results-heading {
        font-size: 50px;
        height: 140px;
    }

    #leaderboard-div {
        width: 280px;
    }

    h2 {
        font-size: 50px;
    }

    #name-span {
        width: 170px;
        height: 300px;
        overflow-wrap: break-word;
    }
}